<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page info and metadata -->
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <link rel="shortcut icon" href="{{favicon}}" type="image/x-icon" />

    <!-- Load Bootstrap4 style sheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Load DataTables style sheet -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <!--- Load custom style sheet -->
    <link href="main.css" rel="stylesheet">

    <!-- Extra header contets (if any) -->
    {% block extra_header %}{% endblock %}

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="index.html" class="navbar-brand">{{title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="mainnavbar">
                                           <span class="navbar-toggler-icon"></span>
                                       </button>
        <div class="navbar-collapse collapse justify-content-stretch" id="mainnavbar">
            <ul class="navbar-nav">

                {% for table in tables %}
                <li class="nav-item">
                    {% if table['url'].endswith(file) %}
                    <a class="nav-link active" href="{{table['url']}}">{{table['name']}}</a> {% else %}
                    <a class="nav-link" href="{{table['url']}}">{{table['name']}}</a> {% endif %}
                </li>
                {% endfor %}

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <!-- Contents -->
        <div class="row-fluid" id="contents">
            <div class="span12">

                <h2>Welcome to {{title}}</h2>

                <div class="home-main">
{% block contents %}{% endblock %}
                </div>
			</div>
        </div>

    </div>

    <!-- Footer -->
    <footer class="page-footer container-fluid w-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                    <p>The Arawa Lexical Database (ALeD) is the first part of the Arawa Languages Resources Project (ArLaR) to be made public. Its goal is to provide data (lexical, moprhological, and syntactic) for linguistic analysis. We invite and welcome suggestions, criticisms, and collaborators.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <p>Fabrício Ferraz Gerardi
                        <br/>fabricio.gerardi(at)uni-tuebingen.de</p>
                </div>
            </div>
            <div class="footer-copyright text-center">
                Copyright &copy; 2022, Ferraz Gerardi, Fabrício &#38; Aragon, Carolina &#38; Reichert, Stanislav<br /> This page was compiled on {{ current_time }}
				<br />
				<a href="https://github.com/LanguageStructure/arawa_pre_release">
					<img src="GitHub_Logo_White.png" alt="ALeD on GitHub" style="width:125px;height:52px;">
				</a>
			</div>
    </footer>

    <!-- Load jQuery, DataTables, and Bootstrap JS libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js" type="text/javascript" charset="utf8"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Activate DataTables -->
    <script>
        $(document).ready( function () {
            $('#data_table').DataTable();
          } );
    </script>

    <!-- Build SQL data (if in SQL page) -->
    {% block sql_js %}{% endblock %}

</body>

</html>
