appdirs==1.4.4
bs4==0.0.1
cachetools==4.2.4
Cartopy==0.19.0.post1
certifi==2021.10.8
cffi==1.15.0
cldfbench==1.12.0
cldfcatalog==1.5.1
-e git+https://github.com/cldf/cldfviz@147da9d562bd799d6e98ee43c8154b9c50d280c8#egg=cldfviz
cldfzenodo==0.2.0
clldutils==3.11.1
cltoolkit==0.1.1
colorama==0.4.4
colorlog==6.6.0
cryptography==36.0.1
-e git+https://github.com/cldf/csvw.git@4ed1bb4e80c50e437de5bd4166c4d9ea704b2926#egg=csvw
cycler==0.11.0
gitdb==4.0.9
greenlet==1.1.2
gspread==5.1.1
html5lib==1.1
httplib2==0.20.2
idna==3.3
igraph==0.9.8
iniconfig==1.1.1
isodate==0.6.1
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
kiwisolver==1.3.2
-e git+https://github.com/lingpy/lingpy.git@c782a847d36e65227fe314565be218551a28bfa2#egg=lingpy
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
nameparser==1.0.6
networkx==2.6.3
newick==1.3.2
numpy==1.21.4
oauth2client==4.1.3
oauthlib==3.1.1
openpyxl==3.0.9
packaging==21.3
pluggy==1.0.0
purl==1.6
py==1.11.0
pyasn1==0.4.8
pybtex==0.24.0
pycldf==1.25.1
-e git+https://github.com/cldf-clts/pyclts@c7420d9c59122210422ae249f00a37284cda98c8#egg=pyclts
-e git+https://lingulist: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@github.com/concepticon/pyconcepticon@c8e57af0c2f4a6eebd0a00054119744c435332f1#egg=pyconcepticon
pycountry==20.7.3
-e git+https://github.com/clld/pyglottolog.git@13af3b6f070bad186768c589c7b335edc43b7a7f#egg=pyglottolog
-e git+https://github.com/lexibank/pylexibank.git@8ae170cecb67f450b7a8cbaa56ded94281944b0f#egg=pylexibank
pyparsing==3.0.6
PyQt5==5.15.6
pytest==6.2.5
python-dateutil==2.8.2
python-igraph==0.9.8
pytular==0.1.0
regex==2021.11.10
requests==2.26.0
rfc3986==1.5.0
rsa==4.8
scipy==1.7.3
segments==2.2.0
Shapely==1.8.2
six==1.16.0
smmap==5.0.0
soupsieve==2.3.1
SQLAlchemy==1.4.28
tabulate==0.8.9
termcolor==1.1.0
texttable==1.6.4
threadpoolctl==3.0.0
tqdm==4.62.3
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
xlrd==2.0.1
yattag==1.14.0
zenodoclient==0.4.1
zipp==3.6.0